@model FormalisQuiz.Models.Question

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Question</legend>

        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Quiz.Id)

        <div class="editor-label">
            @Html.LabelFor(model => model.Text)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Text)
            @Html.ValidationMessageFor(model => model.Text)
        </div>
        
        Şıklar
        <ul>
            @for (int i = 0; i < Model.Answers.Count; i++)
            {
                @Html.HiddenFor(question => question.Answers[i].Id)
                <li style="list-style-type: upper-alpha">@Html.CheckBoxFor(question => question.Answers[i].IsCorrect) @Html.TextBoxFor(m => m.Answers[i].Text)</li>
            }
        </ul>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Edit", "Quiz", new { id = Model.Quiz.Id }, null)
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
